<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Club-list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />    
</head>
<body>
	<div class="col-md-4">
	<h1>Club list</h1>
	</div>
	<div class="col-md-4">
	<h3 sec:authorize="isAuthenticated()" th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4">
	<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
	</form>
	</div>
	<div class="col-md-4">
	<form sec:authorize="!isAuthenticated()" th:action="@{/login}" method="post">
		<input type="submit" value="Sign In" class="btn btn-sm btn-danger"/>
	</form>
	</div>

	<table class="table table-striped">
		
    	<tr th:each = "club : ${clubs}">
    		<td th:text="${club.name}">Name: </td>
    		<td><a class="btn btn-danger" th:href="@{/deleteclub/{id}(id=${club.clubId})}">Delete</a></td>
    		<td><a class="btn btn-success" th:href="@{/editclub/{id}(id=${club.clubId})}">Edit</a></td>
    		<td><a class="btn btn-success" th:href="@{/playersbyclub/{id} (id=${club.clubId})}">Players</a></td>

    	</tr>
     </table>
     
     <a class="btn btn-success" href="/addclub">Add club</a>
       <a class="btn btn-success" href="/playerlist">Back to Player-list</a>
</body>
</html>